.square {
  position: relative;
  width: 50%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 99%;
  height: 99%;
}

.btn.content {
  transition: none;
}